/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 165vh;
    padding: 20px;
}

/* Card Styles */
.card {
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    overflow: hidden;
    text-align: center;
    margin: 20px 0; /* Add margin at the top and bottom */
    width: 100%; /* Ensure card uses full available width */
    box-sizing: border-box; /* Include padding in width calculation */
    position: relative;
}